<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb3">Posts</h2>

    <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
      {{ range first 4 (site.GetPage "post").Pages.ByDate.Reverse }}
      <div class="ph1-ns w-50-ns flex">
        <a
          href="{{ .RelPermalink }}"
          class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100"
        >
          <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
          <p class="mid-gray lh-title mb2">
            {{ .Date.Format "Mon, Jan 2, 2006" }}
          </p>
          <p class="mb0">{{ .Description }}</p>
          <p class="link b dib black mb0">Read more →</p>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
